* {
    margin: 0;
    padding: 0;
}

body {

    background-image: url(".//Image\ by\ Predra6_Photos\ from\ Pixabay.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    height: 100vh;
}

h1, th{
    font-family: 'Dancing Script', cursive;
}

p, td, li{
    font-family: 'Caveat', cursive;
}

h1 {
    font-size: 3em;

}

p {
    font-size: 2em;
}

td, li, th{
    font-size: 1.5em;
}

li {
    list-style-type: none;
}

.about-content-div {

}

.background {

    background-color: rgba(0, 0, 0, 0.4);
    height: 100vh;
}

.content {

    position: absolute;
    top: 35%;
    left: 25%;
    height: 100vh;

    padding-left: 5%;
}

.downloads-content-div {

}

.hidden {
    
    display: none;
}

.home-content-div {


}

.navbar {

    text-align: center;
    position: absolute;
    top: 30%;
}

.navbar-div {

    display: flex;
    justify-content: center;
    width: 25%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.60);
    user-select: none;
}

.nav-item {

    font-family: 'Caveat', cursive;
    list-style-type: none;
    margin: 25% 0;
    font-size: 2.5em;
    font-weight: 500;
    letter-spacing: 5px;
}

.nav-item:hover {

    cursor: pointer;
    opacity: 50%;
}

.references-content-div {

}