* {
    margin: 0;
    padding: 0;
}

body {

    background-image: url(".//Image\ by\ Predra6_Photos\ from\ Pixabay.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    height: 100vh;
}

.background {

    background-color: black;
    opacity: 35%;
    height: 100vh;
}

.navbar {
}