* {
    margin: 0;
    padding: 0;
}

body {

    background-image: url(".//Image\ by\ Predra6_Photos\ from\ Pixabay.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    height: 100vh;
}

.background {

    background-color: rgba(0, 0, 0, 0.4);
    height: 100vh;
}

.navbar {

    text-align: center;
    position: absolute;
    top: 50%;
}

.navbar-div {

    display: flex;
    justify-content: center;
    width: 25%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.60);
}

.nav-item {

    list-style-type: none;
}